$base-cls: #{$prefix}loading;

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.#{$base-cls} {
  --tblr-spinner-width: 1.5rem;
  --tblr-spinner-height: 1.5rem;
  --tblr-spinner-vertical-align: -0.125em;
  --tblr-spinner-border-width: 2px;
  --tblr-spinner-animation-speed: 0.75s;
  --tblr-spinner-animation-name: spinner-border;

  &.#{$base-cls}-sm {
    --tblr-spinner-width: 1rem;
    --tblr-spinner-height: 1rem;
    --tblr-spinner-border-width: 1px;
  }

  border: var(--tblr-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
  display: inline-flex;
  width: var(--tblr-spinner-width);
  height: var(--tblr-spinner-height);
  vertical-align: var(--tblr-spinner-vertical-align);
  border-radius: 50%;
  animation: var(--tblr-spinner-animation-speed) linear infinite var(--tblr-spinner-animation-name);

  // colors
  @each $color, $value in $extra-colors {
    &-#{'' + $color} {
      color: $value;
    }
  }

  &.#{$base-cls}-grow {
    --tblr-spinner-animation-name: spinner-grow;

    background-color: currentcolor;
    opacity: 0;
  }
}
