$prefix: "tblr-" !default;

$blue: #206bc4;
$azure: #4299e1;
$indigo: #4263eb;
$purple: #ae3ec9;
$pink: #d6336c;
$red: #d63939;
$orange: #f76707;
$yellow: #f59f00;
$lime: #74b816;
$green: #2fb344;
$teal: #0ca678;
$cyan: #17a2b8;

// COLORS
$min-contrast-ratio: 1.5 !default;
$text-muted-opacity: .7 !default;
$text-muted-light-opacity: .4 !default;
$text-muted-dark-opacity: .8 !default;

$border-opacity: .16 !default;
$border-light-opacity: .08 !default;
$border-dark-opacity: .24 !default;
$border-active-opacity: .48 !default;

$gray-50:  #f8fafc;
$gray-100: #f1f5f9;
$gray-200: #e2e8f0;
$gray-300: #c8d3e1;
$gray-400: #9ba9be;
$gray-500: #6c7a91;
$gray-600: #49566c;
$gray-700: #313c52;
$gray-800: #1d273b;
$gray-900: #0f172a;

$black: #000000 !default;
$white: #ffffff !default;

$light: $gray-50 !default;
$dark: $gray-800 !default;

$bg-surface: $white !default;
$bg-surface-dark: $dark !default;

$body-bg: $gray-100 !default;
$body-color: $dark !default;

$color-contrast-dark: $dark !default;
$color-contrast-light: $light !default;

$text-muted: mix($body-color, #ffffff, percentage($text-muted-opacity)) !default;
$text-muted-light: mix($body-color, #ffffff, percentage($text-muted-light-opacity)) !default;
$text-muted-dark: mix($body-color, #ffffff, percentage($text-muted-dark-opacity)) !default;

$border-color: mix($text-muted, #ffffff, percentage($border-opacity)) !default;
$border-color-translucent: rgba($text-muted, $border-opacity) !default;

$border-color-light: mix($text-muted, #ffffff, percentage($border-light-opacity)) !default;
$border-color-light-translucent: rgba($text-muted, $border-light-opacity) !default;

$border-color-dark: mix($text-muted, #ffffff, percentage($border-dark-opacity)) !default;
$border-color-dark-translucent: rgba($text-muted, $border-dark-opacity) !default;

$border-color-active: mix($text-muted, #ffffff, percentage($border-active-opacity)) !default;
$border-color-active-translucent: rgba($text-muted, $border-active-opacity) !default;

$active-bg: rgba(var(--#{$prefix}primary-rgb), .04) !default;
$hover-bg: rgba(var(--#{$prefix}muted-rgb), .04) !default;
$disabled-bg: var(--#{$prefix}gray-100) !default;

$link-color: var(--#{$prefix}primary) !default;
$link-hover-color: var(--#{$prefix}primary-darken) !default;

$primary: $blue;
$secondary: $text-muted;
$success: $green;
$info: $azure;
$warning: $orange;
$danger: $red;

$theme-colors: (
  "primary": $primary,
  "secondary": $text-muted,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "muted": $text-muted
);

$extra-colors: (
  "blue": $blue,
  "azure": $azure,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "lime": $lime,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
) !default;

// Borders
$border-width: 1px !default;
$border-width-wide: 2px !default;

$border-radius-sm: 2px !default;
$border-radius: 4px !default;
$border-radius-lg: 8px !default;
$border-radius-pill: 100rem !default;

//Fonts
$font-size-75: .75rem !default;
$font-size-100: .875rem !default;
$font-size-200: 1rem !default;
$font-size-300: 1.25rem !default;
$font-size-400: 1.5rem !default;
$font-size-500: 1.75rem !default;
$font-size-600: 2rem !default;
$font-size-700: 2.5rem !default;



$line-height-100: 1rem !default;
$line-height-200: 1.25rem !default;
$line-height-300: 1.5rem !default;
$line-height-400: 1.75rem !default;
$line-height-500: 2rem !default;
$line-height-600: 2.5rem !default;
$line-height-700: 3rem !default;



$font-size-base: .875rem !default;
$body-letter-spacing: 0 !default;

$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$headings-font-weight: var(--#{$prefix}font-weight-bold) !default;

$font-weights: (
  light: $font-weight-light,
  normal: $font-weight-normal,
  medium: $font-weight-medium,
  bold: $font-weight-bold,
  headings: $headings-font-weight,
) !default;

$line-height-base: divide(1.25rem, $font-size-base) !default;
$line-height-sm: divide(1rem, $font-size-base) !default;
$line-height-lg: divide(1.5rem, $font-size-base) !default;

$h1-font-size: divide(24rem, 16) !default;
$h1-line-height: divide(2rem, $h1-font-size) !default;

$h2-font-size: divide(20rem, 16) !default;
$h2-line-height: divide(1.75rem, $h2-font-size) !default;

$h3-font-size: divide(16rem, 16) !default;
$h3-line-height: divide(1.5rem, $h3-font-size) !default;

$h4-font-size: $font-size-base !default;
$h4-line-height: divide(1.25rem, $h4-font-size) !default;

$h5-font-size: divide(12rem, 16) !default;
$h5-line-height: divide(1rem, $h5-font-size) !default;

$h6-font-size: divide(10rem, 16) !default;
$h6-line-height: divide(1rem, $h6-font-size) !default;
